@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@font-face {
    font-family: "Horizon_font";
    src: url('../fonts/Horizon-nMeM.ttf');
}

video{
    max-width: 100%;
}
html, body {
    height: 100%;
}

header {
    padding-left: 10%;

}

body {

    font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    color: black;

    letter-spacing: 0.2em;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-content {
    width: 100%;

    padding: 0 10px;

    display: flex;
    align-items: center;
}

.btn {
    letter-spacing: 0.1em;
}

#main-content {
    margin-left: 1%;
    margin-right: 1%;

}

.title {
    margin-top: 25%;
    margin-bottom: 25%;
    font-size: 3em;
    text-align: center;
    align-self: center;
}
.active{
    background-color: #FFD300;
}

